#meetings-landing {
    background-color: #2c3e50; /* Dark background color */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Centered horizontally */
    color: #ecf0f1; /* Light text color */
  }
  
  .label {
    text-align: center; /* Centered text */
    color: #e74c3c; /* Red text color */
    margin-bottom: 20px; /* Margin below the label */
  }
  
  #meetings-table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Remove spacing between table cells */
    margin-bottom: 20px; /* Margin below the table */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table, th, td {
    border: 1px solid #34495e; /* Dark border color */
  }
  
  th, td {
    padding: 10px; /* Padding inside the cells */
    text-align: left; /* Left-aligned text */
  }
  
  th {
    background-color: #34495e; /* Dark background color for table headers */
    color: #ecf0f1; /* Light text color */
  }
  
  td {
    background-color: #2c3e50; /* Dark background color for table cells */
    color: #ecf0f1; /* Light text color */
  }
  
  button {
    background-color: #e74c3c; /* Red background color */
    color: #fff; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    width: 50%;

  }
  
  button:hover {
    background-color: #c0392b; /* Darker red on hover */
  }
  