.work-list {
    margin: 20px;
    color: white;
}

.work-table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #ccc; /* Add left border to the table */
    border-right: 1px solid #ccc; /* Add right border to the table */
}

.work-table th, .work-table td {
    border-top: 1px solid #ccc; /* Add top border to the table cells */
    border-bottom: 1px solid #ccc; /* Add bottom border to the table cells */
    padding: 10px;
    text-align: center; /* Center-align text */
    vertical-align: middle; /* Center-align vertically */
}

.work-table th {
    background-color: #333;
    color: white;
}

.work-table td {
    background-color: #222;
}


.add-button, .work-item button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f00;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-button:hover, .work-item button:hover {
    background-color: #d00;
}
