.work-form input {
    margin-right: 10px;
    padding: 5px;
    background-color: #444;
    border: 1px solid #ccc;
    color: white;
}

.work-form button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f00;
    color: white;
    border: none;
    cursor: pointer;
}

.work-form button:hover {
    background-color: #d00;
}
